<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>First Blog</title>

<style>
body {background-color: powderblue;}
div {
  padding-top: 250px;
  margin: auto;
  font-size: 25px;
}

</style>
</head>

</head>
<body>
  <div class="container">
    {{ . }}
  </div>
</body>
</html>
